{% include 'base.html' %}

{% block main %}

<div class="d-flex flex-row-reverse bd-highlight my-3">
    <div class="p-2 bd-highlight">
        <a href="{% url 'logout' %}" type="button" class="btn btn-sm btn-secondary px-4">Sair</a>
    </div>
</div>

<div class="row align-items-cente my-5">
    <div class="col align-self-center col-4 offset-4 my-3">
        <h1 class="text-center">CARREGUE</h1>
        <h1 class="text-center">O SEU ARQUIVO</h1>
        <form action="{% url 'adicionar' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% include 'parciais/_messages.html' %}
            <div class="form-group">
                <input class="form-control" type="text" name="nome" placeholder="Dê um nome para o arquivo" autocomplete='off'>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="arquivo">
                    <label class="custom-file-label" for="customFile">Escolher arquivo</label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block p-0">
                        <p class="d-inline" style="font-size: 40px;">SALVAR</p>
                    </button>
                </div>
                <div class="text-center">
                    <a href="{% url 'painel' %}"><button class="btn btn-sm btn-secondary"
                            type='button'>Voltar</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}