{% extends 'base.html' %} 
{%load plotly_dash%}
{% load static %}

{% block main %}
<div class="row justify-content-center p-5">
    <div class="col align-self-center">
        <div class="mx-auto" style="width: 100px;">
            <img width="100px" src="{% static 'img/grafico_menu.svg' %}" alt="Logo PSE">
        </div>
    </div>
    <div class="col-6 align-self-center">
        <h1 class="text-center align-self-center">PESQUISA SOCIOECONÔMICA FATEC FRANCA</h1>
    </div>
    <div class="col align-self-center">
        <a href="{% url 'logout' %}" type="button" class="btn btn-sm btn-secondary px-4">Sair</a>
        <a href="{% url 'painel' %}" type="button" class="btn btn-sm btn-secondary px-4">Voltar</a>
    </div>
</div>
<div style="height: 400px;">
    {%plotly_app name="graficos"%}
</div>

{% endblock %}
