{% extends 'base.html' %}
{% load static %}
{% block title %} Recuperar a senha {% endblock %}
{% block main %}
<div class="row align-items-center">
    <div class="col align-self-center col-4 offset-4 my-5">
    
        <h1 class="text-center my-5">PERDEU A SENHA?</h1>

        <form method="POST">
            {% csrf_token %}
            
            {% include 'parciais/_messages.html' %}

            <div class="form-group">
                <input class="form-control" type="text" name="usuario" placeholder="USUÁRIO"
                    value="{{request.POST.usuario}}" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="senha" placeholder="NOVA SENHA"
                    required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="senha_repetida" placeholder="CONFIRMAR SENHA"
                    required>
            </div>
            <small id="dica_senha">• A senha deve conter 8 dígitos, letras e números.</small>
            
            <div class="form-group text-center">
                <button class="btn btn-primary btn-lg btn-block p-0 my-3" type="submit"><p class="d-inline" style="font-size: 40px;">RECUPERAR</p></button>
                <a class="btn btn-sm btn-secondary" href="{% url 'login' %}">CANCELAR</a>
            </div>
        </form>

    </div>

</div>
{% endblock %}